<button class="btn btn-success mb-3" [routerLink]="['/proposals/add']">Add</button>
<div *ngIf="!hasProposals" class="alert alert-info">
    No proposals have been created.
</div>
<table *ngIf="hasProposals" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Address from</th>
            <th scope="col">Address to</th>
            <th scope="col">Distance</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proposal of movingProposals">
            <td>{{ proposal.addressFrom }}</td>
            <td>{{ proposal.addressTo }}</td>
            <td>{{ proposal.distance | number}}</td>
            <td>{{ proposal.price }}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/proposals', proposal.id]">Details</button>
            </td>
        </tr>
    </tbody>
</table>